body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    min-height: 100vh; 
    z-index: 0; 
    overflow-x: hidden;
    background-color: #363233;
}


.search-wrapper {
    position: relative;
    max-width: 400px;
    margin: auto;
    padding-top: 30px;

}

.input-icon-container {
    display: flex;
    align-items: center; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #ccc;
    border-radius: 12px;

}

.input-icon-container ::placeholder {
    color: #ddd; 
    opacity: 1; 
}

.search-input { 
    display: flex;
    flex-grow: 1;
    padding: 10px;
    border: none; 
    border-radius: 12px;
    outline: none;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.0);
}

.search-icon {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.results {
    display: grid;
    grid-template-columns: repeat(4,1fr); /* Adjust column width as needed */
    gap: 20px; 
    padding: 20px;
}

.result-row {
    display: flex;
    background-color: #f9f9f9;
    margin-bottom: 10px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    background-color: rgba(255, 255, 255, 0.5);
    gap:20px;
}

.dropdowns-container{
    display: flex;
    justify-content: center;
    max-width: 400px; 
    margin: 15px auto; 
    gap: 20px;
    
}

.text-content {
    display:flex;
    flex-direction: column;
    width:50%;
}

p {
    margin:0px;
}

h3 {
    margin:0px;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: #912a30;
    width: 100%;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
}

.navButton {
    border:none;
    color: white;
    background-color: transparent;
    padding: 10px;
    display: inline-block;
    font-size: 25px;
    border-left: .3px solid black;
    border-right: .3px solid black;
}

#buttons {
    display: flex;
    flex-direction: row;
    background-color: #7d2328;
    justify-content: center;
    width:100%;
}

h1 {
    font-family:"Andale Mono";
    color: white;
    letter-spacing: 2px;
    margin-bottom:30px;
}

#srch {
    background-color: #363233;
    color: #ccc;
    border: 2px solid #ccc; /* Green */
    border-radius: 8px;
    font-size: 20px;
}

.subin {
    width: 40%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    font-family:"Andale Mono";
    color: white;
    letter-spacing: 2px;
    margin-bottom:30px;
}